.Concept {
  background-color: greenyellow;
}

.concept-list {
  list-style: none;
}


.concept-item {
  vertical-align: middle;
  display: block;
}

.concept-item > * {
  float: left;
}

.concept-article {

}

.name {
  width: 10rem;
  text-align: left;
  border: 1px solid;
  float: left;
}

.desc {
  width: 30rem;
  border: 1px solid;
  text-align: left;
  float: left;
}
